@import url(assets/fontawesome/css/all.css);
body {
  scroll-behavior: smooth;
}

* {
  scroll-behavior: smooth;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Roboto", sans-serif;
  color: #192451;
}

h1,
h2 {
  font-family: "Inter", sans-serif;
}

img {
  display: block;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

a {
  text-decoration: none;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
}

.bg-blue {
  background-color: #192451;
}

.banner {
  background-color: #192451;
  background: url(assets/CAPA_TECIDO.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 249px 0px;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner .left-side {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  max-width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.banner .left-side a {
  padding-bottom: 5px;
  cursor: pointer;
}

.banner .left-side a div {
  font-size: 28px;
  font-weight: 600;
  color: #252525;
  background-color: #d8b770;
  border-radius: 40px;
  padding: 25px 25px 25px 25px;
  text-transform: uppercase;
  margin-top: 40px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 2px 4px 0px 1px #b89344;
  box-shadow: 2px 4px 0px 1px #b89344;
}

.banner .left-side a:hover div {
  background-color: #e6ae37;
  -webkit-box-shadow: 2px 4px 0px 1px #cf9d31;
  box-shadow: 2px 4px 0px 1px #cf9d31;
}

.image-with-down-shadow {
  -webkit-box-shadow: 0px 38px 36px -21px rgba(0, 0, 0, 0.59);
  box-shadow: 0px 38px 36px -21px rgba(0, 0, 0, 0.59);
  border-radius: 47px;
}

.section {
  padding: 100px 0;
  overflow: hidden;
}

.section.txt-branca {
  background: url(assets/bg-bco.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.title {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  color: #192451;
  text-transform: uppercase;
  line-height: 62px;
}

.title b {
  background-color: #d8b770;
  color: white;
  padding: 0 10px;
  text-shadow: 0px 0px 15px #00000052;
}

.title.white {
  color: white;
}

.title.white b {
  background-color: #d8b770;
  color: white;
  text-shadow: 0px 0px 15px #00000052;
}

.sect-1 .services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.sect-1 .services .left-side {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sect-1 .services .left-side .infos {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 90%;
          flex: 0 0 90%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sect-1 .services .left-side .infos img {
  position: absolute;
  top: -90px;
}

.sect-1 .services .left-side p {
  font-size: 24px;
  margin: 12px 0;
  color: #192451;
  line-height: 25px;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 15px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 40%;
          flex: 1 0 40%;
  max-width: 35%;
  font-weight: 400;
}

.sect-1 .services .right-side {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bg-azul {
  background: url(assets/bg-azul4.png);
  background-color: #192451;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-azul h2,
.bg-azul p,
.bg-azul b {
  color: white;
}

.bg-azul.foto {
  background-image: url(assets/bg-azul-foto.png);
}

.title-icon {
  font-size: 58px;
  color: white;
  margin-bottom: 20px;
}

.sect-fotos {
  position: relative;
}

.sect-fotos .poligono {
  width: 138px;
  display: block;
  margin: 0 auto;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  top: 0;
}

.sect-fotos p.subtitle {
  margin: 80px auto 80px auto;
  font-weight: 400;
}

.sect-fotos .fotos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 470px;
  gap: 30px;
}

.sect-fotos .fotos .foto {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.sect-fotos .fotos .foto.active {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 36%;
          flex: 0 0 36%;
}

.sect-fotos .fotos .foto img {
  display: block;
  max-width: 100%;
  -webkit-box-shadow: 0px 5px 20px -4px rgba(0, 0, 0, 0.57);
  box-shadow: 0px 5px 20px -4px rgba(0, 0, 0, 0.57);
}

.sect-2 {
  position: relative;
  overflow: visible;
}

.sect-2 .poligono {
  width: 138px;
  display: block;
  margin: 0 auto;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  top: 0;
}

.sect-2 .seta {
  position: absolute;
  bottom: -35px;
  display: block;
  margin: 0 auto;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.sect-2 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sect-2 .title {
  margin-bottom: 20px;
}

.sect-2 .left-side {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
}

.sect-2 .right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
}

.sect-2 .right-side img {
  margin: 0 auto;
  margin-bottom: 20px;
}

.sect-2 .right-side .lista h3 {
  text-align: center;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 30px;
}

.sect-2 .right-side .lista .itens .item {
  background-color: #D9D9D9;
}

.sect-2 .right-side .lista .itens .item p {
  text-align: center;
  font-size: 20px;
  color: #192451;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 45px;
}

.sect-2 .right-side .lista .itens .item.white {
  background-color: white;
}

.sect-2 h2 {
  text-transform: initial;
  font-weight: 500;
  text-align: left;
}

.sect-2 h2 span {
  font-weight: bold;
}

.sect-3 i {
  font-size: 96px;
  text-align: center;
  display: block;
  margin-top: 60px;
}

.sect-3 p {
  font-size: 24px;
  text-align: center;
  color: #192451;
  display: block;
  max-width: 920px;
  margin: 60px auto;
  margin-bottom: 20px;
}

.subtitle {
  max-width: 900px;
  display: block;
  text-align: center;
  font-size: 20px;
  margin: 60px auto 90px auto;
  font-weight: 500;
}

.subtitle.custom {
  margin: 0 auto;
  margin-top: 40px;
  font-size: 24px;
  font-weight: 400;
}

.sect-course-content {
  background-color: #eeeeee !important;
}

.sect-course-content .icon-title {
  display: block;
  text-align: center;
  font-size: 78px;
  margin-bottom: 30px;
}

.sect-course-content .course-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 60px 0;
}

.sect-course-content .course-info .column {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sect-course-content .course-info .column .badge {
  width: 180px;
  display: block;
  background: white;
  border: 5px solid #d8b770;
  border-radius: 16px;
  text-align: center;
  -webkit-box-shadow: 0px 5px 20px -4px rgba(0, 0, 0, 0.171);
          box-shadow: 0px 5px 20px -4px rgba(0, 0, 0, 0.171);
}

.sect-course-content .course-info .column .badge p {
  color: #192451;
  font-size: 28px;
  font-weight: 500;
  padding: 10px;
}

.sect-course-content .contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sect-course-content .contents .course-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 55px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48%;
          flex: 0 0 48%;
  -webkit-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-box-shadow: 0px 5px 20px -4px rgba(0, 0, 0, 0.171);
  box-shadow: 0px 5px 20px -4px rgba(0, 0, 0, 0.171);
  border-radius: 22px;
  height: 227px;
}

.sect-course-content .contents .course-content:hover {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
  -webkit-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.sect-course-content .contents .course-content .module {
  background-color: #d8b770;
  border-top-left-radius: 23px;
  border-bottom-left-radius: 23px;
  padding: 47px 35px;
  text-align: center;
  color: white;
  font-size: 28px;
  font-weight: bold;
}

.sect-course-content .contents .course-content .module h3 {
  color: white;
  text-shadow: 0px 0px 15px #00000052;
}

.sect-course-content .contents .course-content .module i {
  color: white;
  margin-top: 30px;
  font-size: 58px;
  text-shadow: 0px 0px 15px #00000052;
}

.sect-course-content .contents .course-content .module.bonus {
  padding: 33px 35px;
}

.sect-course-content .contents .course-content .module.bonus i {
  margin-top: 15px;
  font-size: 58px;
}

.sect-course-content .contents .course-content .module-classes {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  border-top-right-radius: 23px;
  border-bottom-right-radius: 23px;
  gap: 10px;
  padding: 0 30px;
}

.sect-course-content .contents .course-content .module-classes p {
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sect-4 {
  position: relative;
  overflow: hidden;
}

.sect-4 .bg-alvo {
  position: absolute;
  right: -42%;
  top: 40px;
  max-height: 986px;
}

.sect-4 .method {
  margin: 60px auto;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}

.sect-4 .method i {
  text-align: center;
  display: block;
  font-size: 98px;
  margin-bottom: 20px;
}

.sect-4 .method h3 {
  font-weight: bold;
  text-align: center;
  font-size: 28px;
}

.sect-4 .method p {
  margin-top: 15px;
  font-size: 24px;
  text-align: center;
  max-width: 330px;
  line-height: 30px;
}

.sect-5 .title {
  color: white;
}

.sect-5 .certificado {
  max-width: 871px;
  border: 10px solid #d8b770;
  margin: 0 auto;
  margin-top: 60px;
  display: block;
}

.sect-5 .certificado img {
  max-width: 100%;
}

.sect-6 img {
  margin: 60px auto;
}

.sect-6 p {
  font-size: 32px;
  max-width: 900px;
  text-align: center;
  line-height: 39px;
  margin: 0 auto;
  display: block;
}

.sect-6 p b {
  font-weight: bold;
}

.sect-6 .stars {
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 60px;
}

.sect-6 .stars img {
  max-width: 100%;
}

.sect-7 i {
  font-size: 58px;
  color: white;
  margin-bottom: 20px;
  text-align: center;
  display: block;
}

.sect-7 img {
  max-width: 100%;
}

.sect-8 {
  position: relative;
}

.sect-8 .container {
  position: relative;
  z-index: 3;
}

.sect-8 .bg-fogo {
  padding: 40px 0;
  position: absolute;
  left: -12%;
  top: 0;
  max-height: 1256px;
  z-index: 2;
}

.sect-8 .oferta-img {
  margin: 0 auto;
}

.sect-8 .price {
  margin-top: 20px;
}

.sect-8 .price b {
  color: #e00d2a;
  background: none;
  font-weight: 400;
}

.sect-8 .payment-methods {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sect-8 .payment-methods img {
  height: 100%;
}

.sect-8 .oferta {
  margin: 70px auto;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  display: block;
  text-align: center;
}

.sect-8 .oferta b {
  text-decoration: line-through;
}

.sect-8 .oferta p {
  color: #192451;
  font-size: 38px;
  opacity: 0.7;
}

.sect-8 .oferta h4 {
  position: relative;
  font-weight: bold;
  font-family: "Inter";
  margin: 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sect-8 .oferta h4 span {
  font-size: 78px;
}

.sect-8 .oferta h4 p {
  opacity: 1;
  position: relative;
  z-index: 2;
  font-size: 78px;
  color: white;
}

.sect-8 .oferta span {
  color: #192451;
  font-size: 38px;
}

.sect-8 a {
  padding-bottom: 5px;
  cursor: pointer;
}

.sect-8 a div {
  font-size: 38px;
  font-weight: 600;
  background-color: #d8b770;
  border-radius: 40px;
  padding: 25px 45px;
  text-transform: uppercase;
  margin-top: 40px;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  margin: 0 auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 2px 4px 0px 1px #b89344;
  box-shadow: 2px 4px 0px 1px #b89344;
}

.sect-8 a div:hover {
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
}

.sect-8 a:hover div {
  background-color: #e6ae37;
  -webkit-box-shadow: 2px 4px 0px 1px #cf9d31;
  box-shadow: 2px 4px 0px 1px #cf9d31;
}

.sect-faq .title i {
  color: white;
  margin-right: 5px;
}

.sect-faq h1 {
  text-align: center;
  margin: 2rem 0;
  font-size: 2.5rem;
}

.sect-faq .accordion {
  width: 90%;
  max-width: 1000px;
  margin: 70px auto;
  margin-bottom: 0;
}

.sect-faq .accordion-item {
  background-color: #fff;
  color: #111;
  margin: 1rem 0;
  border-radius: 20px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
}

.sect-faq .accordion-item-header {
  padding: 0.5rem 3rem 0.5rem 4rem;
  min-height: 3.5rem;
  line-height: 1.25rem;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
  font-size: 20px;
}

.sect-faq .accordion-item-header::after {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f0da";
  font-size: 2rem;
  position: absolute;
  left: 2rem;
}

.sect-faq .accordion-item-header.active::after {
  content: "\f0d7";
}

.sect-faq .accordion-item-body {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}

.sect-faq .accordion-item-body-content {
  padding: 2rem;
  padding-left: 2rem;
  line-height: 1.5rem;
  border-top: 1px solid;
  -o-border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
     border-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(#34495e), to(transparent)) 1;
     border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
  font-size: 20px;
}

@media (max-width: 767px) {
  .sect-faq html {
    font-size: 14px;
  }
}

footer {
  background-color: #192451;
  padding: 60px 0;
  text-align: center;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

footer .container a,
footer .container h4 {
  font-size: 24px;
  color: white;
}

.reveal {
  position: relative;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  opacity: 0;
  -webkit-transition: all 1.2s ease;
  transition: all 1.2s ease;
}

.reveal.active {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 1;
}

.highlight::before {
  display: block;
  content: "";
  width: 20px;
  height: 98px;
  background-color: #e00d2a;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
  position: absolute;
  z-index: 1;
  top: -8px;
}

.highlight.active::before {
  width: 294px;
}

@media only screen and (max-width: 1290px) {
  .banner {
    padding: 82px 0px;
  }
  .title {
    font-size: 38px;
    line-height: 50px;
  }
  .banner .left-side a div {
    font-size: 24px;
  }
  .sect-2 p {
    font-size: 18px;
  }
  .sect-1 .services .left-side p {
    font-size: 18px;
  }
  .subtitle {
    font-size: 16px;
    line-height: 22px;
  }
  .sect-course-content .contents .course-content .module-classes {
    gap: 5px;
  }
  .sect-course-content .contents .course-content .module-classes p {
    font-size: 18px;
  }
  .sect-4 .method h3 {
    font-size: 24px;
  }
  .sect-4 .method p {
    font-size: 18px;
  }
  .sect-6 p {
    font-size: 24px;
  }
}

@media only screen and (max-width: 1065px) {
  .container {
    max-width: 360px;
  }
  .subtitle {
    font-weight: 400;
  }
  .sect-fotos p.subtitle {
    margin: 40px auto 40px auto;
    font-weight: 400;
  }
  .sect-fotos p.subtitle b {
    font-weight: 600;
  }
  .sect-fotos .fotos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 40px;
  }
  .sect-fotos .fotos .foto {
    max-width: 100%;
    width: 100%;
  }
  .banner {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(24%, rgba(25, 36, 81, 0)), to(#192451)), url("assets/bg_mobile.png");
    background-image: linear-gradient(180deg, rgba(25, 36, 81, 0) 24%, #192451 100%), url("assets/bg_mobile.png");
    background-position: center;
    padding-top: 370px;
  }
  .banner .left-side {
    max-width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
  .banner .left-side a {
    display: none;
  }
  .banner .left-side img {
    max-width: 90%;
    margin: 0 auto;
  }
  .banner .left-side a div {
    font-size: 18px;
  }
  .title {
    font-size: 27px;
    line-height: 36px;
  }
  .sect-1 .services .left-side {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 20px;
  }
  .sect-1 .services .left-side .infos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
  }
  .sect-1 .services .left-side .infos p {
    max-width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
  .sect-2 .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sect-2 .container b {
    padding: 0 !important;
  }
  .sect-2 h2 {
    text-align: center;
  }
  .sect-2 .left-side {
    margin-bottom: 40px;
  }
  .sect-2 .left-side img {
    margin: 0 auto;
    max-width: 70px;
    margin-top: 40px;
  }
  .sect-2 .right-side .lista h3 {
    font-size: 20px;
  }
  .sect-2 .right-side .lista .itens .item p {
    text-align: center;
    font-size: 14px;
    color: #192451;
    height: 75px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0 22px;
  }
  .title-icon {
    text-align: center;
  }
  .sect-course-content .course-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 20px 0;
  }
  .sect-course-content .course-info .column {
    max-width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
  .sect-course-content .course-info .column .badge {
    width: 100%;
    margin-bottom: 20px;
  }
  .bg-alvo {
    right: -126% !important;
  }
  .sect-course-content .contents {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sect-course-content .contents .course-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sect-course-content .contents .course-content .module-classes {
    padding: 30px 30px;
    border-radius: 0 0 20px 20px;
  }
  .sect-course-content .contents .course-content .module {
    border-radius: 20px 20px 0 0;
    padding: 27px 15px;
  }
  .sect-6 p {
    font-size: 18px;
    line-height: 26px;
  }
  .sect-8 .oferta h4 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sect-8 .oferta h4 span {
    margin-bottom: 15px;
  }
  .sect-8 .oferta h4 .highlight::before {
    top: 85px;
    left: 33px;
  }
  .sect-8 a div {
    font-size: 18px;
  }
  .sect-8 .payment-methods img {
    max-width: 33px;
  }
  .accordion-item-header {
    font-weight: 400 !important;
    font-size: 18px !important;
  }
  footer .container h4 {
    font-size: 20px;
  }
}
/*# sourceMappingURL=style.css.map */